<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indentr</title>
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <script type="importmap">
    {
        "imports": {
            "codemirror": "https://esm.sh/codemirror@@6.0.1",
            "@@codemirror/state": "https://esm.sh/@@codemirror/state@@6.4.1",
            "@@codemirror/view": "https://esm.sh/@@codemirror/view@@6.36.2",
            "@@codemirror/lang-markdown": "https://esm.sh/@@codemirror/lang-markdown@@6.3.2",
            "@@codemirror/language": "https://esm.sh/@@codemirror/language@@6.10.8",
            "@@lezer/highlight": "https://esm.sh/@@lezer/highlight@@1.2.1"
        }
    }
    </script>
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
